<text id="http://www.bjwmb.gov.cn/v2003/readbook/05.htm" title="文明热线" encoding="gb2312">
<%@ language="vbscript"%>
<!-- #include file="../conn.asp" -->
<!--#include file="../count.asp" -->
<html>
<head>
<title>文明热线</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
<!--
.unnamed1 {  font-size: 12px; line-height: 17px}
a {  font-size: 12px; line-height: 17px; color: #0000CC; text-decoration: none}
a:hover {  font-size: 12px; line-height: 17px; color: #FF0000; text-decoration: none}
-->
</style>
<script language="javascript">
	function win(page){
		window.open(page,'','width=545,height=350');
	}
</script>
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="752" border="0" cellspacing="0" cellpadding="0" align="center" background="../images/a_top1.gif">
  <tr> 
    <td width="1" bgcolor="#999999"></td>
    <td width="220"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="211" height="92">
        <param name=movie value="../images/wmblogo2.swf">
        <param name=quality value=high>
        <param name="wmode" value="transparent">
        <embed src="../images/wmblogo2.swf" quality=high pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="211" height="92" wmode="transparent">
        </embed> 
      </object></td>
    <td>&nbsp;</td>
    <td width="100"> 
      <div align="center"><a href="http://www.beijing.gov.cn" target="_blank"><img src="../images/logocap.gif" width="72" height="78" border="0"></a></div>
    </td>
    <td width="1" bgcolor="#999999"></td>
  </tr>
</table>
<table width="752" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td bgcolor="#999999" width="1"></td>
    <td width="114" background="../images/timebg.gif"> 
      <div align="center"> 
        <script language=JavaScript>
 today=new Date();
 function initArray(){
   this.length=initArray.arguments.length
   for(var i=0;i<this.length;i++)
   this[i+1]=initArray.arguments[i]  }
   var d=new initArray(
     "星期日",
     "星期一",
     "星期二",
     "星期三",
     "星期四",
     "星期五",
     "星期六");
document.write(
     "<font color=#ffffff face='Arial, Helvetica, sans-serif'  size='2'> ",
     today.getYear(),"年",
     today.getMonth()+1,"月",
     today.getDate(),"日",
     "</font>" );
</script>
      </div>
    </td>
    <td width="636"><img src="../images/lanmu.gif" width="636" height="23" usemap="#Map" border="0"></td>
    <td bgcolor="#999999" width="1"></td>
  </tr>
</table>
<map name="Map"> 
  <area shape="rect" coords="21,5,66,20" href="../index.asp">
  <area shape="rect" coords="86,4,140,20" href="../wmdt/index.asp?lm=01">
  <area shape="rect" coords="152,5,209,19" href="../szgc/index.asp?lm=02">
  <area shape="rect" coords="227,4,277,19" href="../cjgc/index.asp?lm=03">
  <area shape="rect" coords="296,3,347,19" href="../mxgc/index.asp?lm=04">
  <area shape="rect" coords="365,4,418,20" href="../jmgj/index.asp?lm=05" target="_blank">
  <area shape="rect" coords="432,6,487,20" href="../xjdx/index.asp?lb=02&h=850&lm=06">
  <area shape="rect" coords="503,6,554,21" href="index.asp?lm=07">
  <area shape="rect" coords="567,6,621,19" href="../zlk/index.asp?lm=08">
</map>
<table width="752" border="0" cellspacing="0" cellpadding="0" align="center" height="450">
  <tr valign="top"> 
    <td bgcolor="#999999" width="1"></td>
    <td>
      <table width="720" border="0" cellspacing="2" cellpadding="2" align="center">
        <tr>
          <td valign="middle" height="25" width="220">&nbsp;</td>
          <td valign="middle" height="25" width="500"> 
            <div align="center"><b><font color="#FF0000">《新时代的道德楷模——孟宪峰》</font></b></div>
          </td>
        </tr>
        <tr>
          <td valign="top" class="unnamed1" width="220"> 
            <table width="210" border="0" cellspacing="2" cellpadding="1">
              <tr> 
                <td width="45" class="unnamed1">目录</td>
                <td width="110">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">序 一</td>
                <td width="110" class="unnamed1">龙新民</td>
                <td><a href="xu1.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">序 二</td>
                <td width="110" class="unnamed1">黄嘉祥</td>
                <td><a href="xu2.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">第一章</td>
                <td width="110" class="unnamed1">大运河边少年梦</td>
                <td><a href="01.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">第二章</td>
                <td width="110" class="unnamed1">唱响我是一个兵</td>
                <td><a href="02.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">第三章</td>
                <td width="110" class="unnamed1">在地震的废墟上</td>
                <td><a href="03.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">第四章</td>
                <td width="110" class="unnamed1">退伍归乡创业路</td>
                <td><a href="04.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">第五章</td>
                <td width="110" class="unnamed1">楼群里的修鞋匠</td>
                <td><a href="05.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">第六章</td>
                <td width="110" class="unnamed1">没有血缘的亲情</td>
                <td><a href="06.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">第七章</td>
                <td width="110" class="unnamed1">束束鲜花献给你</td>
                <td><a href="07.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">后 记</td>
                <td width="110" class="unnamed1">崔君乐</td>
                <td><a href="hj.htm">进入</a></td>
              </tr>
              <tr> 
                <td width="45" class="unnamed1">编后语</td>
                <td width="110"><a href="bhy.htm">进入</a></td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </td>
          <td valign="top" class="unnamed1" width="500"> 
            <div align="left"> 
              <p>第五章 楼群里的修鞋匠</p>
              <p> 一</p>
              <p>&quot;一支塔影认通州&quot;、&quot;潞河千古带通州&quot;，这是通州古老文明的象征；但新时期的通州要展示自己的新面貌，还须有一张能充分展示自己迷人风采的脸。通州新华大街就是通州的脸面。<br>
                １９９５年春天，县委、县政府下决心清理整顿通州新华大街马路市场脏、乱、差问题，彻底改变作为北京百里长安街最东端通州卫星城的整体形象。在县委、县政府统一指导下，工商、公安、城管、市政等各行政执法部门联合出动，使新华大街马路市场&quot;退路进厅&quot;、&quot;让路于民&quot;的举措取得了阶段性胜利。<br>
                那时，与通州新华大街相邻的车站路大街马路市场，因新华大街的综合整治，不少流动个体商贩自然都云集到这里，使本来就不宽阔的街面，更显得拥挤嘈杂。俗话说有人才有市，有市才有买卖。在长不足一公里的马路市场内，聚集着五行八作，固定的、临时的摊位数百个。俯瞰南北全街，五颜六色的各式凉棚鳞次栉比，旗幌招牌下，人来人往，万头攒动；近看那些急于出售各类商品的屋外摊主，更是斗着风地使出浑身解数，不停地高声叫卖，招徕顾客。<br>
                号称机动灵活的流动售货汽车，装着满车的西瓜水果专拣人多的路口、要道叫卖&quot;添堵&quot;；开出租的&quot;黄面的&quot;和人力三轮车，在拥挤的人群里生拉硬拽乘客；练摊的服装老板抖着五光十色的新潮服装好像西班牙斗牛士&quot;翩翩起舞&quot;；而躲在一边嘴中不停喊着&quot;两块一位&quot;的街头理发师，也不甘寂寞地吹起小号……<br>
                在车站路中国银行南面的老槐树下，今天来了一位带着媳妇和４岁小儿子的特殊个体修鞋匠孟宪峰。<br>
                生活就像爬大山，生活就像过大河，生活有时又会向人们提出各种各样的机遇和挑战。孟宪峰是在经受了鞋厂倒闭、面包房歇业等种种挫折之后，才无奈来修鞋的。常言道：&quot;金钱不是万能的，可没钱也是万万不能的&quot;。孟宪峰曾想过办一个属于他自己的皮鞋厂或面包房，但办厂需要大量资金，投入的钱哪去找？那只不过是一种梦想。现在全家人连维持生计都成问题，当务之急是有活干，有钱挣。<br>
                孟宪峰为在患难之际能有这么一位通情达理患难与共的爱妻而感激。自从她嫁到孟家后，连件像样的衣服也没添过，就连订婚时给她的３００元钱，也都让她搭在平时的日子里了。她平时省吃俭用，吃苦耐劳，帮夫教子，孝敬公婆，是全乡出了名的贤妻良母、好儿媳妇。<br>
                孟宪峰内疚啊！</p>
              <p> 二</p>
              <p>&quot;伙计，你把咱这鞋带缝上，等着穿呢。&quot;<br>
                第一次摆摊修鞋，第一次遇上买卖，孟宪峰心里好不惊喜。<br>
                &quot;您稍候。&quot;孟宪峰喜是喜，却连头也没敢抬，心里咚咚打鼓，手也有点不听使唤了。<br>
                这毕竟是他第一次面对顾客耍手艺，他既盼顾客来，又怕遇见熟人；既盼活儿上门，又怕做不好。就连妻子在一旁和他说话，小儿子在鞋摊周围蹦跳玩耍，也改变不了他紧张的心态……<br>
                第一位主顾是中国银行看门的老大爷，当他见到这位新来的鞋匠并不熟练的手艺，却把一双断带的皮凉鞋修得很好时，问：&quot;多少钱？&quot;孟宪峰试探着说：&quot;您给两块钱吧？&quot;&quot;行！&quot;老人不假思索地掏钱付钱，满意而去。<br>
                第二个来的是位外地打工的小伙子，正当他脱下脚上的凉鞋，让孟宪峰修开绽的两只脚尖时，又有第三位家住西门的女大学生，拿着价值约２０００余元的皮夹克，来让孟宪峰修拉锁。她说：&quot;明儿返校时带走，您紧点儿手。"孟宪峰边为外地小青年修鞋，边与女大学生商量：&quot;这活儿我带回家修，明儿早上给你带来行吗？&quot;那位女大学生面有难色，还流露出一种怕把皮衣拐走的不信任感。孟宪峰也看出了她的心思，说：&quot;我有工商局发的正式营业执照，你要是不放心，把我的身份证押给你，明天你取活时再给我。&quot;姑娘只是说：&quot;我想请您紧点手，快点修好就行啦。&quot;孟宪峰提出回家修拉锁，怕的是自己技术不过硬，当着女大学生面出丑，所以有意避开。但人家既然提出当时取货，孟宪峰只得修好小伙子的鞋后当场献艺了。<br>
                打铁先要身板硬，要想挣钱养家就要有技术。可孟宪峰不懂技术，一切都要从头儿来。上街摆鞋摊前他用纸板、旧鞋反复练习过基本功。特别是递针走线，右手将针锥从鞋外往里扎进，左手在鞋里领针，眼睛看不见鞋里的针尖，稍不留神就扎着手指头。为了不把顾客修的鞋帮外皮碰坏，他把树皮当真皮子练习切割。虽然小心提防，但还是免不了刀割在手上，鲜血染红垫布。给鞋锤钉看似简单，但稍不留意也会砸到手上，那些日子他没少给自己放血，创口贴成了必不可少的随身物品。当孟宪峰将女大学生的皮夹克修好递到她手上时，已是满头大汗。大学生问：&quot;多少钱？&quot;孟宪峰红着脸还是那句：&quot;您给两块吧。&quot;第三位主顾高兴离去了，孟宪峰耳边传来爱人周淑清风趣的鼓励声：&quot;孟老板干得不错，就是太紧张啦，衣服湿得都贴身了吧？&quot;<br>
                时间过得真快，转眼日落西山。第一天上街修鞋，孟宪峰一人，不，一家三口，先后为八名顾客修鞋、修拉锁、砸皮带眼，其中还为一个小学生无偿缝书包带，一共挣了八块钱。<br>
                这是怎样的八块钱呀！……<br>
                在回家的路上，孟宪峰欢快地蹬着三轮车，身上特别的轻松惬意。当一轮明月初上他推开家门时，就像小孩子似的大声喊道：&quot;妈--妈！我挣钱啦，我挣到钱啦！&quot;孟宪峰的母亲也十分高兴地从屋内迎出来，额头眼角每条皱纹都是笑，像迎接凯旋归来的将军。她笑着问：&quot;挣多少钱？&quot;&quot;八块！&quot;&quot;不少。&quot;&quot;您知道不，我的衣服都被汗水干了湿，湿了干好几次呢！&quot;&quot;能开张挣到钱就不易，万事开头难，以后就好干了。&quot;孟宪峰听到妈妈鼓励声，激动的泪水再也控制不住了……<br>
                男儿有泪不轻弹。这是创业者的酸楚之泪，也是成功者的喜悦之泪。周淑清也眼含泪花，忙把婆母搀扶到屋内，接着又帮孟宪峰将修鞋的工具搬进屋里。</p>
              <p>三</p>
              <p>在香港，很少有人不知道李嘉诚的名字。他是亚洲地产业巨擘，世界华人首富，全球十大富豪之一。他幼年生活艰辛，而创业的经历却颇具传奇色彩。他之所以有今天的辉煌事业，是因为他从小就牢记父亲的教诲：&quot;顶天立地的男子汉，第一是能吃苦，第二是会吃苦。&quot;&quot;能吃苦&quot;是一种精神，&quot;会吃苦&quot;才能将精神变成财富。<br>
                人们把个体事业称为&quot;光彩的事业&quot;，走光彩之路，创光彩人生，就要在&quot;能吃苦&quot;、&quot;会吃苦&quot;中得到启迪，悟出道理，并善于积累经验，增长才干，使之成为一笔可贵的财富。孟宪峰就在这条光彩的道路上迈出了可喜的第一步，成为一名出色的修鞋匠。<br>
                回忆创业之初的困惑，孟宪峰总结为&quot;三难&quot;：一是思想不通难开口，二是资金短缺难开业，三是身无技术难挣钱。在克服&quot;三难&quot;时，孟宪峰说：&quot;当时最'难'的是战胜自我，调整心态，克服畏难情绪，特别是认为干个体没出息、没面子，干修鞋这行更是低人一等的陈腐观念。但那时生活所迫又被逼无奈，你不干这个，会干什么呀？人必须正视现实，调整心态，以更快地适应生存环境。现在认识提高啦，走光彩之路的决心也坚定啦。为啥？我国私营个体经济是伴随着市场经济的提出与发展而成长起来的，是党的富民政策的产物。它的地位作用，也是被人们逐步认识的。从事私营个体经济勤劳致富是光彩的事业，这已是不争的事实。有需求就有市场，勤俭节约是美德，人们需要做鞋修鞋，我修鞋也是为人民服务。江泽民总书记在'７．１讲话'中充分肯定了私营、个体经营者等非公有经济人士对社会的贡献，并称个体劳动者也和工人、农民、解放军指战员、知识分子一样，都是有中国特色的社会主义事业的建设者，这话得人心哪！"<br>
                孟宪峰修鞋要有工具，但当时家中没有积蓄，所以添置人力三轮车、修鞋使的补鞋机、割刀、剪子、钉锤、改锥、铳子、木锉、针锥、鞋钉拐子及钢锯、钩锥子等专用工具和大线、轴线、皮子、鞋掌、秋皮钉、松紧布、粘扣、男女鞋跟、拉锁、速胶及强力胶等必备的原材料，都是东摘西借亲朋好友家的１０００余元买的。先期投入资金困难也解决了。<br>
                １９９５年８月２３日，姐姐替他从通州工商局新华工商所领回正式修鞋个体营业执照。孟宪峰和爱人周淑清还利用到通州卖菜空闲，从东关到西门，逐个查看，四处寻找适合缝鞋摆摊的位置。经夫妻二人商议，最后选定车站路热闹的中间地段--中国银行南侧大槐树底下。是离存钱的银行地方近求财旺图个吉利？还是有了大树好乘凉，同时还能遮风避雨？也许都有吧……</p>
              <p>四</p>
              <p> 冬天到了，寒风刺骨。一般屋子里都不暖和，更何况是露天经营？孟宪峰的手脚都冻得裂开血口子，干活一使劲就钻心的疼；夏天酷暑难耐，傍晚被蚊虫叮咬得浑身青一块紫一块，最重时脚脖子都感染化脓。但孟宪峰却用辛劳和真诚，赢来了许多回头客。<br>
                在市场经济大潮中，健康心理、人格信誉是每个追求事业者的立身之本，是自身最宝贵的无形资产。&quot;明礼诚信&quot;已成为人所关注的社会道德规范，同时也被视为企业和公民的第二身份证。&quot;利从诚中来，誉从信中生&quot;。以诚为本，善待消费者，时刻为客户着想，就能赢得客户的信赖，并最终得到丰厚的回报。<br>
                在许多人眼里，个体户眼睛盯的就是钱，但孟宪峰却是&quot;君子爱财，取之有道&quot;。谈起生意经，孟宪峰有自己的诀窍：&quot;和气生财讲真诚，质量第一讲信誉，收费合理讲协商。&quot;&quot;诚信、明礼，话说在前值钱；能修的鞋，讲清怎么修，用什么材料；协商收费，共同定价，达成共识；再精心修理，让客人省钱，多得实惠。这样能免去很多不必要的麻烦。不能修的，向客人说明，别让人家花冤枉钱。要善于和客户感情交流心灵沟通。"日积月累，和客户建立相互信赖的关系，这生意场上的无形资产，从某种意义上说比有金子银子都重要。<br>
                ２０００年春天，一位家住东里小区脚有残疾的妇女，推车来到孟宪峰的修鞋摊前，她不好意思似的低声说：&quot;师傅，您能帮我把这鞋修修吗？&quot;孟宪峰忙接过鞋，又看看这位女同志残疾的脚，沉吟了片刻，说：&quot;能修，不过您得多等会儿。&quot; 
                孟宪峰又仔细观察了她特殊的脚型，并提出了鞋里外加高的方法和收费价格。那位女同志听了点头说："行，行，只要穿着合适，给多少钱都行。&quot;只见孟宪峰手脚麻利，左量右比，下料，粘、缝、钉，把鞋里垫高４公分，鞋外底垫高６公分，使她穿上修好的鞋后鞋底平坦感到舒服……孟宪峰将修好的皮鞋递到那位女同志手中说：&quot;您先穿着试试，不合脚再给您修。&quot;那位女同志穿上鞋来回走了几圈后，满脸堆笑说：&quot;我活了３０多年，还是第一次穿上这样称心的鞋，真是太谢谢您啦。&quot;<br>
                一个月后，还是这位残疾女同志，又来到孟宪峰修鞋摊前，恳求说：&quot;上次您给我修的鞋穿着特舒服。我听说您原来在皮鞋厂工作，您能帮我做一双特型新皮鞋吗？&quot;孟宪峰稍加思索后说：&quot;行！您再给我拿双您穿过的旧鞋作参照，两个礼拜后您来取活儿吧。&quot;<br>
                说实在的，这种特型鞋难做。从皮鞋的设计、选料、画帮、粘帮、扣底及搓面、喷亮，每道工序都马虎不得。特别是没有专用工具，鞋楦必须依照脚型反复用木锉打磨，鞋楦的弧度、翘度还必须与残疾的脚型相一致才行。白天孟宪峰要起早贪黑照常到城里修鞋，晚上回家后加班加点才能为那位女同志做新皮鞋。两周以后，孟宪峰将一双崭新的皮鞋交到那位残疾女同志手上说：&quot;您穿上试试，不行咱再改。&quot;那位女同志穿后激动地连声说：&quot;谢谢！谢谢！以后我穿的皮鞋就在您这儿定做啦。&quot;孟宪峰边回答边叮嘱：&quot;行，欢迎您再来做鞋。您新做的鞋穿过２０天后，请拿我这儿再给您调整一下，您穿着会更舒服些。&quot;<br>
                像这样真诚为特型脚服务的实例还有不少。２００１年，一位家住通州北苑西杨庄村的６０多岁的老大妈，听街坊说孟宪峰人好活儿好，就特意打&quot;面的&quot;找孟宪峰为她定做一双新鞋。家住果园环岛居民小区脚有残疾的一位姑娘，坐三轮车专程到孟宪峰修鞋摊一次定做两双特型新皮鞋。<br>
                孟宪峰常说：&quot;这奖那奖，不如群众夸奖；这杯那杯，不如群众口碑。&quot;在去年采访中，有一位５７岁家住通州南关的三轮车工人罗凤光，还讲了他五年前亲历的一件感人事：<br>
                我和孟宪峰真是有缘分。１９９６年入冬前，我为了活动身体，找乐儿安度晚年，就花钱买零件，自己动手攒了一辆人力三轮车。为此我自行设计了帆布车棚，并画好要砸粘扣的白线，我找到孟宪峰的修鞋摊问砸一个粘扣多少钱，他说每个１元，按您画的要求得砸８个。我当时就想，在别处砸每个至少要收１．５元，给我第一印象这师傅不黑。孟宪峰按我的要求，很快将车棚粘扣砸好，我高兴地拿回家中往车上一试，却装不上。 
                <br>
                第二天我又找到孟宪峰说：&quot;师傅，对不起，昨天回家一装不行。&quot;&quot;怎么啦？&quot;孟宪峰说，&quot;我可是按您画的线印儿砸的。&quot;我急忙说：&quot;这事不怪您，全怪我没画对，您看怎么办？&quot;&quot;那就拆吧！明天您把三轮车推来，我再给您看看。&quot;第三天我如约到达，只见孟宪峰边看边量，边用粉笔画上记号，然后二话没说，很快将原粘扣拆掉又重新按新线点砸好。经当场安装，不偏不斜正合适。我当时心悦诚服。我叫人砸了拆，拆了砸，再多给点工钱也是应该的。我对孟师傅说：&quot;我再多给您几块钱吧？&quot;可孟师傅说什么也不肯收，他说：&quot;得了吧，得了吧，你蹬三轮挣点钱也不容易。&quot;通过这件小事，给我的直觉是孟宪峰为人正直，收费合理，不挣黑心钱，而且这人特聪明、活儿好。<br>
                王质树--这位煤建公司的下岗工人讲述的一件事更令人感动。他在年已五十有四，下岗后再就业无门的情况下，见报纸和电视里有孟宪峰一等功臣做修鞋匠的事迹，就想到他这儿来试试，请孟宪峰收他作徒弟。孟宪峰不但痛快地接收了他，表示毫无保留地教他技术，还语重心长地教他如何做人："要做堂堂正正的好人，要诚实守信做清清白白的老实人……&quot;王质树满口答应并严格按师傅的要求去做。现在，王质树的修鞋技艺已经很不一般了，他在区煤建公司北侧市场内，挂起了修鞋个体户的招牌，走上了自立、自强、自尊的光彩道路。<br>
                　　孟宪峰恪守职业道德，尊重人、理解人，用诚实的劳动去温暖人，用真挚的爱心去帮助人。他的事业是真正的光彩事业。 五</p>
              <p>１９９６年春，通县各级政府职能部门，充分发挥自身优势，联手加快北京通州卫星城规划建设综合治理的行动步伐；进一步推进通州城市化管理总体水平。在强调全面总结新华大街综合整治取得阶段性胜利的基础上，再继续抓好县政府提出的下一步通州卫星城&quot;一横三竖&quot;重点大街的综合整治目标的完成。&quot;一横&quot;是指新华大街（北苑车站到东关大桥段）；&quot;三竖&quot;一是新华南北街（北关环岛到果园环岛），二是南北通惠路大街（八里桥市场到复兴庄北口），三是车站路大街（商业街南口到东里街北口）。以上主要大街要加大治理脏、乱、差的执法力度，取消马路市场，拆除违章建筑，规范新建市场，积极贯彻落实县委、县政府提出的"优二兴三&quot;、&quot;退路进厅、还路于民&quot;的城市综合治理新方略。在具体工作中做到，取缔马路市场与建设规范新市场相结合，特别要加强做好管理输导工作，&quot;先挖渠后放水&quot;，有序进行综合整治。<br>
                &quot;建一个市场、活一方经济、富一方百姓、保一方平安&quot;是各级领导和政府职能部门的工作目标。<br>
                回顾通州马路市场的形成与发展，既有它历史的原因，也有它适应社会主义市场经济初级阶段的特性。它的形成与发展曾为发展社会生产力、活跃城乡市场、繁荣首都经济、方便百姓生活、扩大解决安置社会劳动就业和增加国家、地方税收等方面发挥过积极作用。但随着社会主义市场经济制度的不断完善、发展，卫星城总体规划管理水平的提高，曾一度活跃在城区的马路市场也将被各类专业、规范的新市场所替代，这是大势所趋。 
                <br>
                商场如战场，在车站路马路市场内修鞋的个体户孟宪峰，刚刚享受首战告捷的一点快乐，他十分珍惜良好信誉和真诚劳动赢得的消费群体的刚刚形成，现在让他转移还真有点舍不得。离开中国银行南侧这块风水宝地--他的修鞋生计前途未卜。但曾当过军人仍以服从命令为天职的孟宪峰，顾全大局，服从组织安排，转移到中仓小区南门外的顺城街市场重新摆摊修鞋。 
                <br>
                　　好人一生多磨难，行船偏遇顶头风。<br>
                １９９９年底，孟宪峰的父亲因身患癌症病情恶化而四次住院，最终抢救无效与世长辞。母亲也因高血压、心脏病突发而住院医治，虽病情有所好转，但回家后高压氧气瓶和急救药却不离身边。孟宪峰女儿孟爽在朝阳区读高三，儿子孟庆贺在通州中山街小学读五年级，两个孩子的学杂费逐年提高。爱人周淑清虽然平时省吃俭用并耕种２亩半口粮地和半亩菜园，可忙了一年到头，也挣不下几个钱。全家老小经济来源主要靠孟宪峰每月修鞋所挣的５００--６００元。<br>
                由于近几个月经常回家照顾老人，还有就是他所在的马路市场几次清理整顿，变换了摊位地点，客流量明显减少，有时一天才挣１０元钱，连平时每月交纳工商管理费５０元和国家税费６０元都困难了。无奈之下，孟宪峰才找到通州区（１９９７年县改区）工商分局新华工商所、私个协分会，详细汇报了个人的实际困难，并书面申请减缓每月上缴的１１０元税费。 
                <br>
                作为私营企业、个体户经营者的娘家人--区工商分局、私营个体经济协会，对孟宪峰所提出的申请和要求十分重视，很快派人实地调查了解。从中得知孟宪峰家现在还欠外债６４００元，另外，他们还发现了新的情况--鲜为人知的情况--历史的令人感动的一幕。<br>
                ……一张没有贴在墙上，压在柜橱抽屉里，虽经二十年时光但上面依然鲜红的立功奖状。孟宪峰同志是一等功臣？！通州全区几十年来上万名复退军人中惟一的一等功臣！英雄的事迹感天撼地，英雄的经历曲折漫长，一个为人民满腔热情无私奉献的英雄没有得到应有的回报，而面对滚滚红尘浮躁风靡的大千世界的他却甘于寂寞。特别是谋生路上当修鞋匠后，他以热情的服务、良好的信誉，为居民排忧解难，做了大量的好事、实事。这令每一个人感动，也令那些私欲膨胀、甚至贪污受贿、大发不义之财的人们汗颜！ 
                <br>
                人们从内心敬重这位当年的一等功臣、身边的活雷锋、生活困难但精神高尚的修鞋匠。区工商分局、区个协领导为宣传典型，推进社会主义精神文明建设，派人进一步深入跟踪采访孟宪峰，并以实际行动解决他的困难。在通州工商分局、区私个协会２０００年元旦、春节期间开展的"党员连民心，扶贫济困献爱心&quot;活动中，将孟宪峰列入特困个体户。区工商分局、区私个协会及基层分会的领导还于２０００年元月&quot;新春大拜年&quot;活动中，到孟宪峰家拜年，并送去了慰问品和慰问金。《北京经济报》（非公经济周刊）于２０００年元月３１日刊发了消息，同年４月２４日又以《特困雷锋--孟宪峰》讲述自己的故事为题，简要刊登了他的先进事迹。<br>
                北京市私营个体经济协会原会长张石城同志得知孟宪峰先进事迹后，特意冒酷暑到孟宪峰摊位慰问，他一下车就急步上前紧握孟宪峰双手说：&quot;你是人民的功臣，是新时期我们身边的活雷锋，是首都精神文明的热情传播者，是全市百万私企、个体会员学习的榜样。&quot;区工商分局党组书记、局长马光祥和区私个协会长高峰亦陪同，给孟宪峰及全家拜年。<br>
                人总是要有一点精神的，不能光为钱活着，要体现人与人和谐友爱的关系。<br>
                孟宪峰，自从１９９６年在中仓小区设点修鞋以来，不但以热情周到的服务和精湛的手艺树立起高尚的职业道德风范，还在承受巨大生活压力的同时，学习雷锋为小区居民做了大量好事。孟宪峰说："我虽然不是小区居民，但我在小区摆摊就是小区的一分子，我也要以自己的行动，为小区的文明建设出力！&quot;</p>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td bgcolor="#999999" width="1"></td>
  </tr>
</table>
<table width="752" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td bgcolor="#999999" height="1"></td>
  </tr>
</table>
<table width="750" border="0" cellspacing="2" cellpadding="2" align="center">
  <tr> 
    <td valign="middle"> 
      <div align="center"><img src="../images/icon_mail.gif" width="16" height="16"><a href="mailto:webmaster@bjwmb.gov.cn">总编信箱</a><a href="mailto:webmaster@bjwmb.gov.cn"></a></div>
    </td>
  </tr>
  <tr> 
    <td valign="middle"> 
      <div align="center"><font face="Times New Roman, Times, serif" size="2" color="#003366">Copyright 
        &copy; 1999 - 2001 www.BJWMB.gov.cn　All Right Reserved</font></div>
    </td>
  </tr>
  <tr> 
    <td valign="middle"> 
      <div align="center"><font size="2" color="#003366" face="Times New Roman, Times, serif">E-Mail 
        client application</font><font size="2" color="#003366">:</font><font size="2" face="Times New Roman, Times, serif" color="#003366">webmaster@bjwmb.gov.cn</font><font size="2" color="#003366"> 
        　<font face="Times New Roman, Times, serif">Telephone number</font>:<font face="Times New Roman, Times, serif">86 
        - 010 - 66517913 / 66510202 / 66510303</font></font></div>
    </td>
  </tr>
  <tr> 
    <td valign="middle"> 
      <div align="center"><font size="2" color="#003366">网站主办单位：<font color="#FF0000"><font color="#FF0000">首都精神文明建设委员会办公室</font></font></font></div>
    </td>
  </tr>
  <tr> 
    <td valign="middle"> 
      <div align="center"><font size="2" color="#003366">网站制作与技术支持：北京<a href="http://www.softway.com.cn" target="_blank">正辰科技</a>发展有限责任公司</font></div>
    </td>
  </tr>
  <tr> 
    <td valign="middle"> 
      <div align="center"><font size="2" color="#003366">网站地址：中国·北京·西城区西直门南小街<font face="Times New Roman, Times, serif">68</font>号北京青年宫3层　邮政编码：<font face="Times New Roman, Times, serif">100035</font></font></div>
    </td>
  </tr>
  <tr> 
    <td valign="middle">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>

</body>
</html>

</text>
