<text id="http://www.ebm.org.cn/upload/zhiqiguan.html" title="循证医学教育部网上合作研究中心欢迎您！" encoding="gb2312">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<%@ page contentType="text/html;charset=gb2312" language="java" import="BannerBean.*"%>

<jsp:useBean id="counter" scope="session" class="BannerBean.access" />
<%  

	String cont=counter.ReadFile();

	counter.WriteFile(cont);
%>  


<head>
<title>循证医学教育部网上合作研究中心欢迎您！</title>
<style type="text/css">.pt          { font-size: 12px; text-align: center }
</style>
<meta content="text/html; charset=gb2312" http-equiv="Content-Type">
<style type="text/css">.p1          { color: black; font-size: 9pt }
a            { color: #000066; font-size: 9pt; text-decoration: none }
a:hover      { color: green; cursor: hand; font-size: 9pt; text-decoration: underline }
</style>
<style>.glowtext    { filter: glow(color="blue", strength=2); width: 100% }
</style>
<meta content="Microsoft FrontPage 5.0" name="GENERATOR">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
// -->
</script>
</head>

<body bgcolor="#ffffff" leftmargin="0" text="#000000" topmargin="0" ?f7f3ff?>

<script language="javascript">
function click() {
if (event.button==2) {
alert('对不起，本页的内容不经允许不得拷备。')
}
}
document.onmousedown=click
</script>
<noscript><iframe src=*.html></iframe></noscript>
<body onselectstart="return false">

<table align="center" border="1" cellpadding="0" cellspacing="0" height="120" width="778" bordercolor="#BDD7EF">
  <tbody> 
  <tr>
      <td height="147"><font face="宋体" size="2"><IFRAME frameBorder=0 height="100%" 
                           marginHeight=0 marginWidth=0 scrolling=no 
                           src="../pub/header1.html" 
                           width="100%"></IFRAME></font></td>
    </tr>
    <tr>
	<td height="25" width="778"  bgcolor="#FFE0A2" ><font face="宋体" size="2">&nbsp;
    </font> </td>
    </tr>
    <tr valign="top">
      
    <td align="middle" height="506" width="778" valign="top"> 
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody> 
        <tr>
              
          <td align="middle" width="42" valign="top" bgcolor="#FFE0A2">
          <font face="宋体" size="2">&nbsp; </font> </td>
              
          <td width="697"> 
            <table border="0" cellpadding="0" cellspacing="0" width="699" height="3673">
              <tr> 
                <td height="28" bgcolor="#FFE0A2" colspan="2"> 
                  <div align="center"><font color="#000000" face="宋体" size="2"><b>支气管哮喘防治指南</b></font></div>
              </tr>
              <tr> 
                <td height="28" bgcolor="#FFE0A2" colspan="2"> 
                  <div align="center"><font face="宋体" size="2">(支气管哮喘的定义、诊断、治疗及教育和管理方案)</font></div>
                </td>
              </tr>
              <tr> 
                <td height="28" bgcolor="#FFE0A2" colspan="2"> 
                  <div align="center"><font face="宋体" size="2">中华医学会呼吸病学分会哮喘学组</font></div>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="95"> 
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp;一、定义<br>
                  支气管哮喘(简称哮喘)是由多种细胞(如嗜酸性粒细胞、肥大细胞、T淋巴细胞、中性粒细胞、气道上皮细胞等)和细胞组份(cellular 
                  elements)参与的气道慢性炎症性疾患。这种慢性炎症导致气道高反应性的增加，通常出现广泛多变的可逆性气流受限，并引起反复发作性的喘息、气急、胸闷或咳嗽等症状，常在夜间和(或)清晨发作、加剧，多数患者可自行缓解或经治疗缓解。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="28">
                <font face="宋体" size="2">二、诊断</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="349">
                <font face="宋体" size="2">诊断标准：(1)反复发作喘息、气急、胸闷或咳嗽，多与接触变应原、冷空气、物理、化学性刺激、病毒性上呼吸道感染，运动等有关。(2)发作时在双肺可闻及散在或弥漫性，以呼气相为主的哮鸣音，呼气相延长。(3)上述症状可经治疗缓解或自行缓解。(4)除外其它疾病所引起的喘息、气急、胸闷和咳嗽o(5)临床表现不典型者(如无明显喘息或体征)应至少具备以下一项试验阳性：①支气管激发试验或运动试验阳性；②支气管舒张试验阳性[一秒钟用力呼气容积(FEVl)增加15％以上，且FEVl增加绝对值&gt;200ml]；③最大呼气流量(PEF)日内变异率或昼夜波动率≥20％。<br>
                  符合1-4条或4、5条者，可以诊断为支气管哮喘。<br>
                  分期：根据临床表现哮喘可分为急性发作期 (exacerbation)、慢性持续期(persistent)和缓解期。慢性持续期是指在相当长的时间内，每周均不同频度和(或)不同程度地出现症状(喘息、气急、胸闷、咳嗽等)；缓解期系指经过治疗或未经治疗症状、体征消失，肺功能恢复到急性发作前水平，并维持4周以上。<br>
                  病情严重程度分级：哮喘患者的病情严重程度分级应分为三个部分。<br>
                  1.治疗前哮喘病情严重程度的分级：包括新发生的哮喘患者和既往已诊断为哮喘而长时间未应用药物治疗的患者。见表1。<br>
                  2．治疗期间哮喘病情严重程度的分级：当患者已经处于规范化分级治疗期间，哮喘病情严重程度分级则应根据临床表现和目前每天治疗方案的级别综合判断。例如，患者目前的治疗级别是按照轻度持续(第2级)的治疗方案，经过治疗后患者目前的症状和肺功能仍为轻度持续(第2级)，说明目前的治疗级别不足以控制病情，应该升级治疗，因此，病情严重程度的分级应为中度持续(第3级)。区分治疗前和规范化分级治疗期间的病情严重程度分级，目的在于避免在临床诊治过程中对哮喘病情的低估，并指导正确使用升降级治疗，见表2。<br>
                  3．哮喘急性发作时病情严重程度的分级：哮喘急性发作是指喘息、气急、咳嗽、胸闷等症状突然发生，或原有症状急剧加重，常有呼吸困难，以呼气流量降低为其特征，常因接触变应原等刺激物或治疗不当等所致。其程度轻重不一，病情加重可在数小时或数天内出现，偶尔可在数分钟内危及生命，故应对病情做出正确评估，以便给予及时有效的紧急治疗。哮喘急性发作时病情严重程度的分级，见表3。<br>
                  三、常用药物简介<br>
                  哮喘治疗药物根据作用机制可分为具有抗炎作用和症状缓解作用两大类，某些药物兼有以上两种作用。<br>
                  糖皮质激素(简称激素)是最有效的抗变态反应炎症的药物。其主要的作用机制包括干扰花生四烯酸代谢，减少白三烯和前列腺素的合成；抑制嗜酸性粒细胞的趋化与活化；抑制细胞因子的合成；减少微血管渗漏；增加细胞膜上β2受体的合成等。<br>
                  给药途径包括吸入、口服和静脉应用等。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="34">
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp;表1 
                  治疗前哮喘病情严重程度的分级分级</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="216"> 
                  <table width="80%" border="1">
                    <tr> 
                      <td width="26%"><font face="宋体" size="2">分级</font></td>
                      <td width="74%"><font face="宋体" size="2">临床特点</font></td>
                    </tr>
                    <tr> 
                      <td width="26%"><font face="宋体" size="2">间歇状态(第1级)</font></td>
                      <td width="74%"><font face="宋体" size="2">症状&lt;每周1次短暂出现夜间哮喘症状≤每个月2次FEVl占预计值％≥80％或PEF≥80％个人最佳值，PEF或FEV1变异率&lt;20％</font></td>
                    </tr>
                    <tr> 
                      <td width="26%"><font face="宋体" size="2">轻度持续(第2级)</font></td>
                      <td width="74%"><font face="宋体" size="2">症状≥每周1次，但&lt;每天1次可能影响活动和睡眠夜间哮喘症状&gt;每个月2次，但&lt;每周1次FEVl占预计值％≥80％或PEF≥80％个人最佳值，PEF或FEV1变异率20％-30％</font></td>
                    </tr>
                    <tr> 
                      <td width="26%"><font face="宋体" size="2">中度持续(第3级)</font></td>
                      <td width="74%"><font face="宋体" size="2">每天有症状影响活动和睡眠夜间哮喘症状≥每周1次FEV1占预计值％为60％-79％或PEF60％-79％个人最佳值，PEF或FEV1变异率&gt;30％</font></td>
                    </tr>
                    <tr> 
                      <td width="26%"><font face="宋体" size="2">重度持续(第4级)</font></td>
                      <td width="74%"><font face="宋体" size="2">每天有症状频繁出现经常出现夜间哮喘症状体力活动受限FEV1占预计值&lt;60％或PEF&lt;60％个人最佳值，PEF或FEV，变异率&gt;30％</font></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="26">
                <font face="宋体" size="2">&nbsp;&nbsp;表2 治疗期间哮喘病情严重程度的分级</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="161">
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp; </font> 
                  <table width="99%" border="1">
                    <tr> 
                      <td rowspan="2"> 
                        <div align="center"><font face="宋体" size="2">目前患者的症状和肺功能</font></div>
                      </td>
                      <td colspan="3"> 
                        <div align="center"><font face="宋体" size="2">原设定的治疗级别</font></div>
                      </td>
                    </tr>
                    <tr> 
                      <td><font face="宋体" size="2">间歇状态(第1级)</font></td>
                      <td><font face="宋体" size="2">轻度持续(第2级)</font></td>
                      <td><font face="宋体" size="2">中度持续(第3级)</font></td>
                    </tr>
                    <tr> 
                      <td><font face="宋体" size="2">间歇状态(第1级)</font></td>
                      <td><font face="宋体" size="2">间歇状态</font></td>
                      <td><font face="宋体" size="2">轻度持续</font></td>
                      <td><font face="宋体" size="2">中度持续</font></td>
                    </tr>
                    <tr> 
                      <td><font face="宋体" size="2">轻度持续(第2级)</font></td>
                      <td><font face="宋体" size="2">轻度持续</font></td>
                      <td><font face="宋体" size="2">中度持续</font></td>
                      <td><font face="宋体" size="2">重度持续</font></td>
                    </tr>
                    <tr> 
                      <td><font face="宋体" size="2">中度持续(第3级)</font></td>
                      <td><font face="宋体" size="2">中度持续</font></td>
                      <td><font face="宋体" size="2">重度持续</font></td>
                      <td><font face="宋体" size="2">重度持续</font></td>
                    </tr>
                    <tr> 
                      <td><font face="宋体" size="2">重度持续(第4级)</font></td>
                      <td><font face="宋体" size="2">重度持续</font></td>
                      <td><font face="宋体" size="2">重度持续</font></td>
                      <td><font face="宋体" size="2">重度持续</font></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="13">
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="162">
                <font face="宋体" size="2">&nbsp;&nbsp; </font> 
                  <p><font face="宋体" size="2">1．吸入给药：这类药物局部抗炎作用强；通过吸气过程给药，药物直接作用于呼吸道，所需剂量较小；通过消化道和呼吸道进人血液药物的大部分被肝脏灭活，因此全身性不良反应较少。口咽部局部的不良反应包括声音嘶哑、咽部不适和念珠菌感染。吸药后及时用清水含漱口咽部、选用干粉吸入剂或加用储雾罐可减少上述不良反应。吸入糖皮质激素后的全身不良反应的大小与药物剂量、药物的生物利用度、在肠道的吸收、肝脏首过代谢率及全身吸收药物的半衰期等因素有关。目前上市的药物中丙酸氟替卡松和布地奈德的全身不良反应较少。吸入型糖皮质激素是长期治疗持续性哮喘的首选药物。 
                    (1)气雾剂：目前我国临床上常用的糖皮质激素有3种。其每天剂量高低和互换关系，见表4。(2)干粉吸入剂：包括二丙酸倍氯米松碟剂、布地奈德都保、丙酸氟替卡松碟剂等。一般而言，使用干粉吸入装置比普通定量气雾剂方便，吸入下呼吸道的药物量较多。糖皮质激素气雾剂和干粉吸入剂通常需连续、规律地吸入1周后方能奏效。(3)溶液：布地奈德溶液经以压缩空气或高流量氧气为动力的射流装置雾化吸入，对患者吸气配合的要求不高，起效较快，适用于哮喘急性发作时的治疗。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="106">
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp;2．口服给药：急性发作病情较重的哮喘或重度持续(4级)哮喘吸入大剂量激素治疗无效的患者应早期口服糖皮质激素，以防止病情恶化。一般使用半衰期较短的糖皮质激素，如泼尼松、泼尼松龙或甲基泼尼松龙等。对于糖皮质激素依赖型哮喘，可采用每天或隔天清晨顿服给药的方式，以减少外源性激素对脑垂体-肾上腺轴的抑制作用。泼尼松的维持剂量最好每天≤10mg。对于伴有结核病、寄生虫感染、骨质疏松、青光眼、糖尿病、严重忧郁或消化性溃疡的哮喘患者，全身给予糖皮质激素治疗时应慎重，并应密切随访。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="24">
                <font face="宋体" size="2">&nbsp;&nbsp;表3 哮喘急性发作时的病情严重程度分级</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="314">
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp; </font> 
                  <table width="99%" border="1">
                    <tr> 
                      <td><font face="宋体" size="2">临床特点</font></td>
                      <td><font face="宋体" size="2">轻度 </font> </td>
                      <td><font face="宋体" size="2">中度</font></td>
                      <td><font face="宋体" size="2">重度</font></td>
                      <td><font face="宋体" size="2">危重</font></td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="84">
                <font face="宋体" size="2">&nbsp;&nbsp; </font> 
                  <p><font face="宋体" size="2">3.静脉用药：严重急性哮喘发作时，应经静脉及时给予大剂量琥珀酸氢化可的松(400-1 000mg／d)或甲基泼尼松龙(80-160mg／d)。无糖皮质激素依赖倾向者，可在短期(3-5天)内停药；有激素依赖倾向者应延长给药时间，控制哮喘症状后改为口服给药，并逐步减少激素用量。地塞米松抗炎作用较强，但由于血浆和组织中半衰期长，对脑垂体-肾上腺轴的抑制时间长，故应尽量避免使用或短时间使用。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="82">
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp;β2受体激动剂：通过对气道平滑肌和肥大细胞膜表面的β2受体的兴奋，舒张气道平滑肌、减少肥大细胞和嗜碱性粒细胞脱颗粒和介质的释放、降低微血管的通透性、增加气道上皮纤毛的摆动等，缓解哮喘症状。此类药物较多，可分为短效(作用维持4-6h)和长效(维持12h)β2受体激动剂。后者又可分为速效(数分钟起效)和缓慢起效（半小时后起效）两种。见表5</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="33">
                <font face="宋体" size="2">&nbsp;&nbsp;表4 常用吸入型糖皮质激素的每天剂量高低与互换关系</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="108">
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp; </font> 
                  <table width="80%" border="1">
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="45">
                <font face="宋体" size="2">&nbsp;&nbsp;&nbsp;&nbsp;表5 
                  β2受体激动剂的分类</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="131"> 
                  <div align="left"></div>
                  <table width="95%" border="1">
                    <tr> 
                      <td rowspan="2"><font face="宋体" size="2">起效时间</font></td>
                      <td colspan="2"><font face="宋体" size="2">作用维持时间</font></td>
                    </tr>
                    <tr> 
                      <td><font face="宋体" size="2">短效</font></td>
                      <td><font face="宋体" size="2">长效</font></td>
                    </tr>
                    <tr> 
                      <td><font face="宋体" size="2">速效</font></td>
                      <td> 
                        <p><font face="宋体" size="2">沙丁胺醇、特布他林、丙卡特罗、非诺特罗</font></p>
                      </td>
                      <td><font face="宋体" size="2">福莫特罗</font></td>
                    </tr>
                    <tr> 
                      <td><font face="宋体" size="2">慢效</font></td>
                      <td>　</td>
                      <td><font face="宋体" size="2">沙美特罗</font></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="164"> 
                  <p><font face="宋体" size="2">短效β2受体激动剂：常用的药物如沙丁胺醇(salbutamol)和特布他林(terbutalin)等。(1)吸入：可供吸入的短效β2受体激动剂包括气雾剂、干粉剂和溶液等。这类药物松弛气道平滑肌作用强，通常在数分钟内起效，疗效可维持数小时，是缓解轻-中度急性哮喘症状的首选药物，也可用于运动性哮喘的预防。如沙丁胺醇每次吸入100-200mg或特布他林250-500mg，必要时每20 
                    min重复一次。1h后疗效不满意者，应向医生咨询或去看急诊。这类药物应按需间歇使用，不宜长期、单一使用，也不宜过量应用，否则可引起骨骼肌震颤、低血钾、心律紊乱等不良反应。压力型定量手控气雾剂(pMDl)和干粉吸入装置吸入短效β2受体激动剂不适用于重度哮喘发作；其溶液(如沙丁胺醇、特布他林、非诺特罗及其复方制剂)经雾化泵吸入适用于轻-重度哮喘发作o(2)口服：如沙丁胺醇、特布他林、丙卡特罗片等，通常在服药后15-30min起效，疗效维持4-6 
                    h。如沙丁胺醇2-4mg，特布他林1．25-2．5mg，每天3次；丙卡特罗25-50PS，每天2次。使用虽较方便，但心悸、骨骼肌震颤等不良反应比吸入给药时明显。缓释剂型和控释剂型的平喘作用维持时间可达8-12h，特布他林的前体药班布特罗的作用可维持24h，可减少用药次数，适用于夜间哮喘患者的预防和治疗。长期、单一应用β2受体激动剂可造成细胞膜β2受体的向下调节，表现为临床耐药现象，故应予避免。(3)注射：虽然平喘作用较为迅速，但因全身不良反应的发生率较高，已较少使用。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="30"> 
                  <p><font face="宋体" size="2">长效β2受体激动剂：这类β2受体激动剂的分子结构中具有较长的侧链，因此具有较强的脂溶性和对β2受体较高的选择性。其舒张支气管平滑肌的作用可维持12 
                    h以上。目前在我国上市的吸入型长效β2受体激动剂有两种。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="26">
                <font face="宋体" size="2">沙美特罗(salmeterol)：经气雾剂或碟剂装置给药，给药后30 
                  min起效，平喘作用维持12 h以上。推荐剂量50Ps，每天2次吸入。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="26"> 
                  <p><font face="宋体" size="2">福莫特罗(formoterol)：经都保装置给药，给药后3-5min起效，平喘作用维持8-12h以上。平喘作用具有一定的剂量依赖性，推荐剂量4．5-9mg，每天2次吸入。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="28">
                <font face="宋体" size="2">吸入长效β2受体激动剂适用于哮喘(尤其是夜间哮喘和运动诱发哮喘)的预防和持续期的治疗。福莫特罗因起效迅速，可按需用于哮喘急性发作时的治疗。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="41"> 
                  <p><font face="宋体" size="2">近年来推荐联合吸人糖皮质激素和长效β2受体激动剂治疗哮喘。这两者具有协同的抗炎和平喘作用，可获得相当于(或优于)应用加倍剂量吸人型糖皮质激素时的疗效，并可增加患者的依从性、减少较大剂量糖皮质激素引起的不良反应，尤其适合于中-重度持续哮喘患者的长期治疗。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="26"> 
                  <p><font face="宋体" size="2">茶碱：具有舒张支气管平滑肌作用，并具有强心、利尿、扩张冠状动脉、兴奋呼吸中枢和呼吸肌等作用。有研究资料显示，低浓度茶碱具有抗炎和免疫调节作用。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="41"> 
                  <p><font face="宋体" size="2">口服给药：包括茶碱和控（缓）释型茶碱。用于轻-中度哮喘发作和维持治疗。一般剂量为每天6-10mg/kg。控（缓）释型茶碱口服后昼夜血药浓度平稳，平喘作用可以维持12-24h，尤其适用于夜间哮喘症状的控制。茶碱与糖皮质激素和抗胆碱药物联合应用具有协同作用。但本品与β激动剂联合使用时，易出现心率增快和心律失常，应慎用并适当减少剂量。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="78"> 
                  <p><font face="宋体" size="2">静脉给药：氨茶碱加入葡萄糖溶液中，缓慢静脉注射（注射速度不宜超过0.25mg*kg-1*min-1）或静脉滴注，适用于哮喘急性发作且近24h内未用过茶碱类药物的患者。负荷剂量为4-6mg/kg，维持剂量为0.6-0.8 
                    mg*kg-1*h-1。由于茶碱的治疗窗窄，以及茶碱代谢存在较大的个体差异，可引起心律失常、血压下降，甚至死亡，在有条件的情况下应监测其血药浓度，及时调整浓度和滴速。茶碱有效、安全的血药浓度范围应该在6-15mg/L。影响茶碱代谢的因素较多如发热、妊娠、肝脏疾患、充血性心衰及合用甲氰咪胍或喹诺酮类、大环内酯类等药物均可影响茶碱代谢而使其排泄减慢，应引起医师们的重视，并酌情调整剂量。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="13">
                <font face="宋体" size="2">多索茶碱的作用与氨茶碱相同，但不良反应较弱轻。双羟茶碱（商品名：喘定）的作用较弱。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="41"> 
                  <p><font face="宋体" size="2">抗胆碱能作用：吸入抗胆碱能药物如溴化异丙托品、溴化氧托品、溴化泰乌托品（tiotropium bromide）等，可阻断节后迷走神经传出支，通过降低迷走神经张力而舒张支气管。其舒张支气管的作用比β2激动剂弱，起效也较慢，但长期应用不易产生耐药，对老年人的疗效不低于年轻人。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="43"> 
                  <p><font face="宋体" size="2">本品有气雾剂和雾化溶液两种剂型。经pMDI吸入溴化异丙托品气雾剂，常用剂量为40-80μg，每天3-4次；经雾化泵吸入溴化异丙托品溶液的常用剂量是50-125μg，每天3-4次。溴化泰乌托品系新上市的长效抗胆碱能药物，对M3受体具有选择性抑制作用，仅需每天1次吸入给药。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="28"> 
                  <p><font face="宋体" size="2">本品与β2受体激动剂联合应用具有协同、互补作用。本品对有吸烟史的老年哮喘患者较为适宜，但对妊娠早期妇女和患有青光眼或前列腺肥大的患者应慎用。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="52"> 
                  <p><font face="宋体" size="2">白三烯调节剂：包括半胱氨酰白三烯受体拮抗剂和5-脂氧化酶抑制剂，是一类新的治疗哮喘药物。目前在国内应用主要是半胱氨酰白三烯受体拮抗剂。半胱氨酰白三烯受体拮抗剂通过对气道平滑肌和其他细胞表面白三烯（Cys 
                    LT1）受体的拮抗，抑制肥大细胞和嗜酸粒细胞释放出的半胱氨酰白三烯的致喘和致炎作用，产生轻度支气管舒张和减轻变应原、运动和SO2诱发的支气管痉挛等作用，并具有一定程度的抗炎作用。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="39"> 
                  <p><font face="宋体" size="2">本品可减轻哮喘症状、改善肺功能、减少哮喘的恶化。但其作用不如吸入型糖皮质激素，也不能取代糖皮质激素。作用联合治疗中的一种药物，本品可减少中-重度哮喘患者每天吸入糖皮质激素的剂量，并可提高吸入糖皮质激素治疗的临床疗效。本品服用方便。尤其适用于阿司匹林过敏性哮喘和运动性哮喘的治疗。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="26"> 
                  <p><font face="宋体" size="2">本品较为安全。虽然有文献报道接受这类药物治疗的患者可出现Churg-Strauss综合征，但其与白三烯调节剂的因果关系尚未肯定，可能与全身使用糖皮质激素剂量的减少有关。5-脂氧化酶抑制剂可能引起肝脏损害，需检测肝功能。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="37">
                <font face="宋体" size="2">通常口服给药。扎鲁司特20mg，每天2次；孟鲁司特10mg，每天1次；异丁司特10mg，每天2次。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="52"> 
                  <p><font face="宋体" size="2">其他治疗哮喘药物：色甘酸钠和奈多罗米钠（nedocromil sodium）:是一种非皮质激素类抗炎药，可抑制IgE介导的肥大细胞等炎症细胞中炎症介质的释放，并可选择性抑制巨噬细胞、嗜酸性粒细胞和单核细胞等炎症细胞介质的释放。这类药物适用于轻度持续哮喘的长期治疗，可预防变应原、运动、干冷空气和SO2等诱发的气道阻塞，可减轻哮喘症状和病情加重。吸入这类药物后的不良反应很少。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="39"> 
                  <p><font face="宋体" size="2">抗组胺药物：口服第二代抗组胺药物（H1受体拮抗剂）如酮替酚、氯雷他定、阿司咪唑、氮卓司丁、特非他丁等具有抗变态反应作用，其在哮喘治疗中的作用较弱。可用于伴有变应性鼻炎哮喘患者的治疗。这类药物的不良反应主要是嗜睡。阿司咪唑和特非他丁可引起严重的心血管不良反应，应谨慎使用。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="26"> 
                  <p><font face="宋体" size="2">其他口服抗变态反应药物：如曲尼司特（tranilast）、瑞吡司特（reporonast）等可用于轻-中度哮喘的治疗。主要不良反应是嗜睡。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="26"> 
                  <p><font face="宋体" size="2">可能减少口服激素剂量的药物：包括口服免疫调节剂（甲氨蝶呤、环孢素、金制剂等）、某些大环内酯类抗生素和静脉应用免疫球蛋白等。其疗效尚待进一步研究。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="76"> 
                  <p><font face="宋体" size="2">变应原特异性免疫疗法(SIT)：该疗法通过皮下给予常见吸人变应原提取液(如螨、猫毛、豚草等)，可减轻哮喘症状和降低气道高反应性。但对其远期疗效和安全性尚待进一步研究与评价。变应原制备的标准化工作也有待加强。哮喘患者应用此疗法期间应严格在医师指导下进行。目前已试用舌下给药的变应原免疫疗法。</font></p>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="25">
                <font face="宋体" size="2">中药：可辨证施治，并酌情使用某些确有疗效的中(成)药。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="22">
                <font face="宋体" size="2">四、治疗</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="107">
                <font face="宋体" size="2">1．治疗目标：哮喘是一种对患者及其家庭和社会都有明显影响的慢性疾病。气道炎症是所有类型哮喘的共同病理特征，是临床症状和气道高反应性的基础，存在于哮喘的所有时段。虽然目前尚无根治办法，但以抑制气道炎症为主的适当治疗，通常可以使病情得到控制。哮喘治疗的目标为：(1)有效控制急性发作症状并维持最轻的症状，甚至无任何症状。(2)防止哮喘的加重。(3)尽可能使肺功能维持在接近正常水平。(4)保持正常活动(包括运动)的能力。(5)避免哮喘药物的不良反应。(6)防止发生不可逆的气流受限。(7)防止哮喘死亡，降低哮喘病死率。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="59">
                <font face="宋体" size="2">2．哮喘控制的标准：(1)最少(最好没有)慢性症状，包括夜间症状。(2)哮喘发作次数减至最少。(3)无需因哮喘而急诊。(4)最少(或最好不需要)按需使用β2激动剂。（5）没有活动（包括运动）限制。(6)PEF昼夜变异率&lt;20％。(7)PEF正常或接近正常。(8)最少或没有药物不良反应。</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="22">
                <font face="宋体" size="2">表6 哮喘患者长期治疗方案的选择*</font></td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="160"> 
                  <table width="80%" border="1">
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td>　</td>
                      <td>　</td>
                      <td>　</td>
                    </tr>
                    <tr> 
                      <td height="47">　</td>
                      <td height="47">　</td>
                      <td height="47">　</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="41"> 
                  <p><font face="宋体" size="2">注：*各级治疗中除了规则的每天控制药物治疗外，需要时可吸人短效匝激动剂以缓解症状。其它可选择的缓解药包括：吸人抗胆碱能药药物、口服短效β2激动剂，短效茶碱；△根据治疗费用排序；▲间歇状态哮喘，但发生严重性发作者，应按中度持续患者处理</font></p>
                  </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="65">
                  <p><font face="宋体" size="2">3．长期治疗方案的确定：哮喘治疗方案的选择基于其在治疗人群中的疗效及其安全性。药物治疗可以酌情采取不同的给药途径，包括吸人、口服和肠道外途径(皮下、肌肉或静脉注射)。吸人给药的主要优点是可以将药物直接送人气道以提高疗效，而避免或使全身不良反应减少到最低程度。哮喘治疗应以患者的病情严重程度为基础，并根据病情控制变化增减(升级或降级)的阶梯治疗原则选择治疗药物，见表6。通常达到哮喘控制并至少维持3个月，可试用降级治疗，最终达到使用最少药物维持症状控制。</font></p>
                  </td>
              </tr>
              <tr>
                <td bgcolor="#FFE0A2" colspan="2" height="39">
                  <p><font face="宋体" size="2">4．急性发作期的治疗：哮喘急性发作的严重性决定其治疗方案，表3为哮喘急性发作时病情严重程度的判定标准，各类别中的所有特征并不要求齐备。如果患者对起始治疗的反应差、或症状恶化很快，或患者存在可能发生死亡的高危因素，应按下一个更为严重的级别治疗。哮喘急性发作的医院治疗见</font></p>
                  </td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="16">　</td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="16">　</td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="16">　</td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="16">　</td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" colspan="2" height="16">　</td>
              </tr>
              <tr> 
                <td bgcolor="#FFE0A2" width="20" height="1"></td>
                <td bgcolor="#FFE0A2" width="679" height="1"></td>
              </tr>
              </table>
                </td>
              
          <td valign="top" width="39" bgcolor="#FFE0A2">
          <font face="宋体" size="2">　 </font> 
        </tr>
		
          </tbody>
        </table>
      </td>
    </tr>
	 <tr>
				<td height="250"><font face="宋体" size="2"><IFRAME frameBorder=0 height="100%" 
                           marginHeight=0 marginWidth=0 scrolling=yes 
                           src="/application/browerpage/review.jsp" 
                           width="100%"></IFRAME></font></td>
			</tr>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="778">
          <tbody>
            <tr>
              <td height="50"><font face="宋体" size="2"><IFRAME frameBorder=0 height="100%" 
                           marginHeight=0 marginWidth=0 scrolling=no 
                           src="../pub/footer.html" 
                           width="100%"></IFRAME></font></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</body>

</html>
</text>
