<text id="http://www.gzsuji.com/wljiaoxue/wljieshao.htm" title="网络学习介绍-广东速记" encoding="gb2312">
<%@LANGUAGE="VBSCRIPT" CODEPAGE="936"%>
<html><!-- InstanceBegin template="/Templates/moban(tanchu).dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!-- InstanceBeginEditable name="doctitle" --> 
<title>网络学习介绍-广东速记</title>
<!-- InstanceEndEditable --> 
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<style type="text/css">
<!-- Do NOT rename this class --> 
</style>
<script type="text/javascript" language="JavaScript">
<!--
// Global variable for Cross-browser AutoScroller 
flevTimeoutID = null;

function MM_callJS(jsStr) { //v2.0
  return eval(jsStr)
}
//-->
</script>
<link href="../table.css" rel="stylesheet" type="text/css">
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
<!--
.style1 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
<!-- InstanceEndEditable --> 
<style type="text/css">
<!--
body {
	background-image: url();
}
.style6 {color: #CC3300}
-->
</style>
</head>

<body topmargin="0">
<table width="760" border="0" align="center">
  <tr align="center" bordercolor="0"> 
    <td width="33%"><img src="../image/topleft.jpg" width="250" height="90"></td>
    <td width="67%" height="94"> <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="510" height="90">
        <param name="movie" value="../image/topright.swf">
        <param name="quality" value="high">
        <embed src="../image/topright.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="510" height="90"></embed></object></td>
  </tr>
</table>
<table width="765" border="0" align="center" cellspacing="0" class="table-middle">
  <tr>
    <td width="90" class="table_top"><div align="center"><a href="../index.htm" class="table_top">网站首页</a></div></td>
    <td width="1"><div align="center"> </div></td>
    <td width="90" class="table_top"><div align="center"><a href="../gsjieshao/gongsijieshao.htm" class="table-middle">公司介绍</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="../ZHZIXUN/ZHZIXUN.HTM">综合资讯</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="../HYFUWU/ALL.HTM">速记服务</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="../YWSULUJI/ALL.HTM" class="table_top">亚伟速录机</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="../cyjiameng/cyjiameng.htm">诚邀加盟</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><font color="#CC3300"><a href="../LXWOMEN/Lxwomen.htm">联系我们</a></font></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center" onClick="MM_callJS('window.external.addFavorite(\'http://www.gzsuji.com\',\'广州速记网\')')"><a href="#">设为收藏夹</a></div></td>
  </tr>
</table>
<table width="765" height="1" border="0" align="center" cellspacing="0">
  <tr>
    <td height="1" align="center" valign="top"><div align="center"></div></td>
  </tr>
</table>
<table width="765" border="0" align="center" cellspacing="0" class="table-middle">
  <tr>
    <td width="90" class="table_top"><div align="center"><a href="DEFAULT.ASP" target="_blank">网络教学</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="../SJPEIXUN/SJPEIXUN.HTM">速记培训</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="http://bbs.gzsuji.com" target="_blank">速记论坛</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="http://bbs.gzsuji.com/list.asp?boardid=5" target="_blank">二手速录机</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="../hezuohuoban/HZHUOBAN.HTM">服务业绩</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="http://translate.gzsuji.com/" target="_blank">翻译服务</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="http://blog.gzsuji.com" target="_blank">翻译博客</a></div></td>
    <td width="1"><div align="center"></div></td>
    <td width="90" class="table_top"><div align="center"><a href="../link/index.asp" class="table_top">友情链接</a></div></td>
  </tr>
</table>
<table width="765" align="center" class="table_left">
  <tr>
    <td><!-- InstanceBeginEditable name="EditRegion3" --> 
      <table width="90%"  border="0" align="center">
        <tr>
          <td class="table-middle"><p align="center"><strong>广州速记网—网络学习介绍 </strong></p>
            <p>一、<strong>解读网络学习</strong></p>
            <p>　　在最近的一次针对网络教育所作的调查中显示：选择网络教育，已不仅仅局限于对文凭的获得， 90 ％以上学员已将学习时间、地点灵活列为选择网络教育的主要原因。网络教育，创造了一种全新学习方式，学员可不受时间、空间和地域等限制，随时随地获得所需的知识或技能，实现以自己为中心的“个性化”教育，同时也较好地处理了工作、就业与培训教育的关系，通过网络教学平台进行教学交互，实现基于网络的质疑式、探索式学习。 </p>
            <p>二、<strong>网络教程简介</strong> </p>
            <p class="style1">（目前，公司已经推出网络教学试听教程，欢迎您的光临！） </p>
            <p>　　您可以通过上网随时进入公司网站的网络教学区。在网络教学区，有教材 36 讲中每一讲的教学视频，教学内容周全，细致，对于刚刚入门的学员，安排了指法的讲解，具有很强的针对性；同时教学区还有教材中每一课的听打材料，方便学生练习，掌握。除此之外，我们还有了大量的看打、听打材料供您练习，这些材料内容丰富，门类齐全，尤其方便于那些正在提速的学员。 </p>
            <p>　　如果您已经达到 160 的速度，我们会及时为您开通 VIP （贵宾）教学区，在 VIP 教学区，我们为您准备了大量的现场会议，论坛，网站直播等的录音资料，同时还准备了各个行业的专业术语汇集，让您的学习完全有身临其境的感觉。除此之外，学员的现场心理素质的培养也是很关键的，我们在这方面，也积累了很多的经验，希望一同和您分享。针对学员提速的制约点 , 我们也从各个方面提出了解决方案 , 相信对您大有帮助。 </p>
            <p>　　在遇到疑难问题时，浏览一下网络教学区速记学习的疑难解答，也能使您茅塞顿开，增强您的自信心。如果您的问题还比较棘手，您也可以通过直接在我们网站留言或用 QQ 交流的形式，我们会在第一时间内回答您的问题。 </p>
            <p>　　如果您上网不是很方便的话，也可以下载我们的网络教学资料，拷贝在电脑硬盘上或 U 盘上。 </p>
            <p>三、<strong>广州速记网的优势</strong> </p>
            <p>　　公司自成立以来，一直服务于广州及周边广阔的会议速记市场，成为南方速记行业的领先者。根据最新的全球权威的网站评估机构： <strong>Alexa </strong>（详情您可以登陆 <a href="http://www.alexa.com/">http://www.alexa.com </a>查看）调查显示，广州速记网在全球 几千万的网站中排名 62，830 位，高居全国速记行业网站综合排名第一名， 成为集会议速记服务、速录师培训、网络教学、速录机销售的综合性速记网站！同时也说明了广州速记网受关注的程度，并拥有最多的访问量、浏览量，拥有众多的速记 FANS 。 </p>
            <p>　　广州速记网于 2004 年 10 月开始推出网络教学，目前教学区内主要由录像视频、声音听打、疑难解答汇编、实习辅导、从业人员整体素质提升 等几个部分组成，同时还创造性地推出了行业专业术语汇集、实习速记员工作现场模拟等栏目，并实现了在线考证。 </p>
            <p>　　1 、网络教学2900 元/年，同时赠送一套全新的 B 型亚伟速录机（包括教材和安装光盘、教学光盘）。同时公司承诺：所有机器免费保修一年；如属质量问题，一个月内包换，免除学员的后顾之忧。 </p>
            <p>　　2 、学习成本低。网络教学目前学费是 2900 一年，每天只需 8 元左右，而参加面授每天需要 30-50 元；网络教学速录机是赠送的，而面授速录机是需要自己另外购买的。 </p>
            <p>　　3 、解决您的烦恼。参加网络学习对那些因学费贵而无法负担的人员、在职工作人员、时间上无法安排的人或所在地没有速记培训机构的人来说无疑是一个明智的选择。只需较少的费用就可以在家或网吧学习，而不必冒着辞职的风险，充分利用业余时间随时学习，自由控制安排学习和复习的时间。 </p>
            <p>　　4 、良好的效果。网络培训和常规培训在培训方式上各有所长，不能绝对说谁好谁坏。网络培训是真正的一对一的教学，如果有问题可以通过网络与老师沟通，因为网络培训的时间完全由自己掌握，没有压力，反而成绩提高很快。 </p>
            <p>　　5 、授课老师除了丰富的教学经验以外，同时也有着丰富的做会经验，并可根据学员的个性、特点提供有针对性的教学方案。 </p>
            <p><strong>附录：网络学习疑难解答 </strong></p>
            <p>1 、通过网络培训要练多长时间才能达到高水平？ </p>
            <p>答：无论是通过网络培训还是常规培训，都需要学员有持之以恒的精神，如果你训练不间断、有规律、有效率，是和传统常规培训相差不了太长的时间的，要达到 200 字 / 分的听打速度，一般需要六到九个月左右的时间。 </p>
            <p>2 、如何开通网络教学？ </p>
            <p>在我们收到您的汇款后（您可以同时给我们一个电话，便于我们早作安排），我们会立即通过邮电局特快专递给您寄送一套全新的 B 型亚伟速录机（包括教材和安装光盘、教学光盘）。同时，我们为您开通网络教学，您可以用您申请的用户名和密码登陆网络教学区。（在网络教学区，您可以随时修改您的资料，如忘记密码，不能登陆，您可以和我们联系或者重新申请，我们会为您开通。）公司帐户资料详情请登陆公司网站速记培训栏目的公司帐户资料查看。 <a href="http://www.gzsuji.com/sjpeixun/sjpeixun.htm" target="_blank">http://www.gzsuji.com/sjpeixun/sjpeixun.htm</a></p>
            <p>3 、参加网上速录技能培训要有哪些条件？ </p>
            <p>答：参加网上速录技能培训对人员没有特殊的条件，每个人都可以学习，但由于利用的是互联网，所以一定要能够上网才能享受培训的服务，拨号上网同样可以学习。如果不能经常在网上，您也可以下载网络教学资料。 </p>
            <p>4 、通过网络培训达到要求的可以找到工作吗？ </p>
            <p>答：只要您达到要求就一定可以找到工作，能否做速录员，最关键的还是看您的记录水平；而且，各省市的劳动部门也在开始组织速录师的考试，国家劳动部的速录师考试也要实施，可见速录行业的潜力。 </p>
            <p>5 、上网培训要求计算机硬件高吗？什么配置比较好？ </p>
            <p>答：上网培训要求计算机硬件不高，一般奔腾Ⅱ以上的电脑都可以胜任，内存 64MB 硬盘 10G 左右就可以。 如果从经济的角度看，您也可以考虑买二手电脑。 </p>
            <p>6 、如果没有上网条件可以参加培训吗？ </p>
            <p>答：同样可以，这部分学员也可以利用网吧上网解疑，学员也没有必要一整天都在网上，集中一段时间上网学习，下载就可以了。 </p>
            <p>7 、参加网络速录技能培训有年龄方面的限制吗？ </p>
            <p>答：没有。年龄并不能够成为学习速录的障碍，但我们建议不超过 40 岁为宜。 </p>
            <p>8 、参加速录培训有学历方面的要求吗？ </p>
            <p>答：作为一名专业的速录员，知识水平的高低会直接影响到他的速度，但是知识的积累是需要时间的，高水平的速录员是经过长期总结积累才会有今天的成绩，目前全国高水平的速录员在学习之初的学历并不高，但随着不断的学习，现在的知识水平都提高很多，在速录这个行业中，记录的速度才是最重要的一个标准。 </p>
            <p>9 、参加网络培训每天要拿出多少时间训练？ </p>
            <p>答：每个人的时间安排都不同。一般而言，每天至少需要两到三个小时的训练，训练过程最好不要间断，只要在这个时间集中精力练习效率就会很高。 </p>
            <p>10 、速录行业会不会被其它高科技手段所代替？ </p>
            <p>答：在国外速录行业早在 20 多年前就出现了，尤其是在美国、日本等科技非常发达的国家，但就目前而言，速录仍然是唯一可以进行现场同步记录并及时形成文字的手段。目前语音识别软件有多种，尤以 IBM 的软件最有名，它已经出现十年了，但依然无法解决语音识别的问题。我们认为无论科技有多么发达，最终使用它的是人，没有人的大脑的现场整理能力（而这种能力在速记过程中是最重要的），没有人对现场讲话人部分方言的辨识能力，是无法做好一场会议的。 </p>
            <p>&nbsp; </p></td>
        </tr>
      </table>
      <p>&nbsp;</p>
    <!-- InstanceEndEditable --></td>
  </tr>
</table>
<table width="765" align="center">
  <tr> 
    <td><div align="center"><img src="../image/blue%20line.jpg" width="540" height="8"></div></td>
  </tr>
  <tr> 
    <td class="table-bottom"><div align="center" class="table-bottom"><font color="#CC3300">Copyright&copy;2003-2006</font>        广州（唯速）速记服务有限公司<font color="#CC3300">　版权所有 </font></div></td>
  </tr>
  <tr> 
    <td class="table-bottom"><div align="center" class="table-bottom"><font color="#CC3300">地址</font>：<font color="#0033FF">广州市广州大道中183号粤康阁2204（名门大厦对面） </font> <a href="../LXWOMEN/Lxwomen.htm"> 　联系我们</a> <a href="../map/map.htm">　网站地图</a><font color="#CC3300"> 
        </font></div></td>
  </tr>
  <tr> 
    <td class="table-bottom"><div align="center" class="table-bottom"><font color="#CC3300">客服电话：</font><font color="#0033FF">020-87373766　87363259　 
        13527608689</font>　<font color="#0033FF"> 　 </font><font color="#CC3300">传真：</font><font color="#0033FF">020-87363259</font>　</div></td>
  </tr>
  <tr> 
    <td class="table-bottom"><div align="center"><font color="#CC3300"><img src="../image/qq.gif" width="16" height="16"><font color="#CC0000">在线QQ服务：259412572　</font>　　 <img src="../IMAGE/msn.gif" width="40" height="16"><font color="#CC0000">在线MSN服务：<font color="#CC3300">gzsuji@hotmail.com</font></font></font></div></td>
  </tr>
</table>
<table width="765" align="center">
  <tr>
    <td class="table-bottom"><div align="center"><font color="#CC3300">电子信箱：</font><font color="#0033FF">gzsuji@hotmail.com </font><span class="table-bottom style6">或者</span><font color="#0033FF"> webmaster@gzsuji.com </font></div></td>
  </tr>
</table>
<table width="765" align="center">
  <tr>
    <td height="23"><div align="center" class="table-bottom"><font size="-1"><!-- InstanceBeginEditable name="EditRegion4" --><script language="JavaScript" type="text/javascript" 

src="http://www1.itsun.com/counter.php?uuid=1511822&style=text"></script> <!-- InstanceEndEditable --></font></div></td>
  </tr>
</table>
<p>&nbsp; </p>
<p>&nbsp;</p>
<!-- Start absolute positioned Cross-browser AutoScroller -->
<!-- Do NOT change these layer ID's -->
<!-- End absolute positioned Cross-browser AutoScroller -->
</body>
<!-- InstanceEnd --></html>

</text>
