<footer class="footer" style="background-color: #F0F0F0;">
   <div class="container">
   <p class="text-muted"><center>2015 Copyright Helmut Posch and Michal Kompan</center></p>
   <p class="text-muted"><center><a href="http://rubyonrails.org/"><%= image_tag "ruby.png", style: "height:20px;" %></a></center></p>
    </div>
    </footer>
 </body>
</html>