<!DOCTYPE html>
<html>
<head>
  <title>Main content extractor</title>
  <%= stylesheet_link_tag 'bootstrap-theme.min','bootstrap.min','application' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60740070-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div class="main_banner">
  <div class="container">
    <%= image_tag('header.png', height:'100px') %>
  </div>
</div>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
        <li style="padding-right:20px"><a href="#about">About</a></li>
        <li style="padding-right:20px"><a href="#howtouse">How to use</a></li>
        <li style="padding-right:20px"><a href="#contact">Contact</a></li>
        <li style="padding-right:20px"><a href="#opensource">It's open source</a></li>
      </ul>
  </div>
</nav>