<div class="container">

<a name="about"></a>
<h3>About</h3>
<p align='justify'>Main Content Extractor is application programming interface (API) for extracting main content from web pages. API is specialized for web pages containing some coherent text (as news etc.) in some latin language. Output can be used for recommendation, text processing or you can display it on small displays instead of full web page.</p>
<hr />

<a name="howtouse"></a>
<h3>How to use </h3>
<p align='justify'>To use Main Content Extractor, use GET or POST method with URL syntax below. As output you can choose one of possible output formats. In output, if part <code>success</code> is true, extraction was successful. Otherwise, it wasn't and you shouldn't use extracted text. Extracted content is only in text format without HTML tags.</p><br />

<h4>Syntax</h4>
<pre><strong>http://mceapi.com/extract?form=[output_format]&amp;url=[url]</strong></pre>
<br />

<h5>Possible output formats</h5>
<ul>
	<li>xml</li>
	<li>json</li>
</ul>
<br />

<h5>URL restrictions</h5>
<ul>
	<li>url has to start with http:// or https://</li>
</ul>
<br />

<h5>Web page restrictions</h5>
<ul>
	<li>web page has to be composed of HTML tags <code>div</code></li>
</ul>
<br />

<h4>Input example</h4>
<p align='justify'>Example shows usage for output in <code>xml</code> format and URL for content extraction is <code>http://www.aktuality.sk/clanok/313057/fico-posiela-strajkujucich-ucitelov-do-skol-zopakoval-ze-do-volieb-im-neprida/</code>.</p>
<pre><strong><a href='http://mceapi.com/extract?form=xml&amp;url=http://www.aktuality.sk/clanok/313057/fico-posiela-strajkujucich-ucitelov-do-skol-zopakoval-ze-do-volieb-im-neprida/'>http://mceapi.com/extract?form=xml&amp;url=http://www.aktuality.sk/clanok/313057/fico-posiela-strajkujucich-ucitelov-do-skol-zopakoval-ze-do-volieb-im-neprida/</a></strong></pre>
<br />

<h4>Output example</h4>
<p align='justify'>Example shows output for Input example.</p>
<pre>&lt;?xml version="1.0"?&gt;
&lt;output&gt;
  &lt;success&gt;true&lt;/success&gt;
  &lt;url&gt;http://ulej.blog.sme.sk/c/96724/Najucinnejsia-forma-odporu-Na-protest-suhlasim.html&lt;/url&gt;
  &lt;content&gt; Za najnezmyselnej&#x161;iu formu protestu som v&#x17E;dy pova&#x17E;oval hladovku. Aj o hladovke toti&#x17E; plat&#xED;, &#x17E;e s&#xFD;ty hladn&#xE9;mu never&#xED; a e&#x161;te aj to, &#x17E;e je hl&#xFA;pe niekoho vydiera&#x165; sam&#xFD;m sebou. V oblasti protestov mi dnes ne&#x10D;akane roz&#x161;&#xED;rila obzory t&#xE1;to str&#xE1;nka. Pozrite sa sami a u&#x10D;te sa. "K&#xE1;&#x17E;ete mi &#x10D;osi vykona&#x165;? Na protest to vykon&#xE1;m!" &lt;/content&gt;
&lt;/output&gt;</pre><br />

<a name="opensource"></a>
<h3>It's open source!</h3>
<p>Now, this project is open source. You can contribute by your own creativity and code. Check it on <a href="https://bitbucket.org/HelmutP/main-content-extractor" target="_blank">Bitbucket</a></p>
<br />

<a name="contact"></a><hr />
<h3>Contact </h3>
<table style="width:100%;">
	<tr>
		<td>
			<address>
				<strong>Helmut Posch</strong><br />
				<a href="http://www.fiit.stuba.sk/">Faculty of informatics and information technologies, STU</a><br />
				Bratislava, Slovakia<br />
				<span style="unicode-bidi:bidi-override; direction:rtl;">ks.abuts@hcsopx</span><br />
			</address>
		</td>
		<td>
			<%= image_tag "fiit.jpg", style: "width:100px;" %>
		</td>
	</tr>
</table>


</div>